html{

	background-url:("images/image_de_fond.jpeg");
	background-size: 500px;
	background-color: black;
	display:block;
}


.fond{
	z-index: -1
}

.mario{

	top:500px;
	left:500px;
}

#champig{
	top:500px;
	left:500px;

}